<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Money</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <p> <h1>Your Gold: {{ request.session.gold }}</h1></p>
    <div id="container">
        <div class="box">
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <label for="farm"><strong>Farm</strong></label>
                <p>(earns 10-20 golds)</p>
                <input type="hidden" name="which_form" value="farm">
                <button type="submit">Find Gold!</button>
            </form>
        </div>

        <div class="box">
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <label for="cave"><strong>Cave</strong></label>
                <p>(earns 5-10 golds)</p>
                <input type="hidden" name="which_form" value="cave">
                <button type="submit">Find Gold!</button>
            </form>
        </div>

        <div class="box">
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <label for="house"><strong>House</strong></label>
                <p>(earns 2-5 golds)</p>
                <input type="hidden" name="which_form" value="house">
                <button type="submit">Find Gold!</button>
            </form>
        </div>

        <div class="box">
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <label for="casino"><strong>Casino</strong></label>
                <p>(earns 0-50 golds)</p>
                <input type="hidden" name="which_form" value="casino">
                <button type="submit">Find Gold!</button>
            </form>
        </div>
    </div>
        <div id="activities">
            <h4>Activities:</h4>
            <div id="activity">
                {% for activity in request.session.activities %}
                <p>
                    {{ activity }}
                </p>
                {% endfor %}
            </div>
        </div>
        <a href="/restart"><button id="restart">Restart</button></a>
</body>
</html>